h1
{
  text-align: center;
  text-shadow: 8px 8px 8px gray;
  font-size: 6em;
  color: white;
  border: 15px gray inset;
  border-radius: 30px;
  width: 75%;


}
h3
{
  text-align: right;
  font-size: 2em;
  color: darkblue;
}
body
{
  font-family: arial serif;
  background-color: #2596be;
}
.Sketch:hover
{
  color: green;
}
.Sketch
{
  text-align: right;
}
section
{
  font-size: 1.7em;
}
h5
{
  color: darkred;
  text-align: center;
  font-size: 2em;
  border: 15px black solid;
  border-radius: 30px;
  width: 50%



}
.Logo1
{
  float: left;
  margin: 30px;
  padding: 30px;
}
.Logo2
{
  float: right;
  margin: 30px;
  padding: 30px;
}
.photo
{
  float: right;
  margin-bottom: 30px;
}
.Cathrine
{
  float: right;
}
.feedback
{
  border: 5px double black;
  padding: 20px;
  margin: 40px;
  text-decoration: italic;
}
h4
{
  border-top: 10px double black;
  margin-top: 30px;
  font-size: 1.5em
}
.brahmine
{
  float: right;
  margin: 30px 50px 20px 10px;

}
